<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4 text-center mb-4">Manage Subject</h1>
        <div class="card mb-4">
            <div class="card-body">
               
               
                <table class="table table-hover table-striped border">
                    <tr class="">
                        <th>#</th>
                        <th>Roll No</th>
                        <th>Student Name</th>
                        <th>Semester Name</th>
                        <th>Course Name</th>
                        <th>Department Name</th>
                        <th>Email</th>
                        <th>Contact</th>
                        <th>Action</th>
                        
                    </tr>
                    <tr class="" *ngFor="let student of studentdata;let i=index">
                        <td>{{ i+1 }}</td>
                        <td>{{ student['rollno'] }}</td>
                        <td>{{ student['student_name'] }}</td>
                        <td>{{ student['semester_id']['semester_name'] }}</td>
                        <td>{{ student['course_id']['course_name'] }}</td>
                        <td>{{ student['department_id']['department_name'] }}</td>
                        <td>{{ student['email'] }}</td>
                        <td>{{ student['contact'] }}</td>
                        <td><span [routerLink]="['/admin/e_student/',student['_id']]" class="fa fa-edit"></span></td>
                        <td>{{ student['is_blocked'] }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</main>
