<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<!-- banner section -->
<section id="home" class="w3l-banner ">
    <div class="banner-content">
        <div class="container py-4">
            <form [formGroup]="addAssignment" autocomplete="off">
                <div class="row align-items-center pt-sm-5 pt-4">
                    <div class="col-md-5">
                       
                        <label class="mt-3"><b>Semester</b></label>
                        <ng-select class="form-control-default border border-warning rounded" placeholder=""  #cou_name name="cou_name" formControlName="semester_id">
                            <ng-option *ngFor="let semester of semesterdata" value="{{semester._id}}">{{semester.semester_name}}</ng-option>
                         </ng-select>

                        <label class="mt-3"><b>Title</b></label>
                        <input class="form-control border-warning " type="text" placeholder="Assignment Title" #addtitle name="addtitle" formControlName="title" required>

                        <label class="mt-3"><b>Description</b></label>
                        <textarea class=" form-control bigbox"  placeholder="Assignment description" #adddescription name="adddescription" formControlName="description" required></textarea>
                        
                        <label class="mt-3"><b>File</b></label>
                        <input (change)="photo($event)" class="form-control  border-warning" type="file" placeholder="Course Name" #assignment name="assignment" formControlName="assignment" required>
                        
                        <label class="mt-3"><b>Assign date</b></label>
                        <input class="form-control border-warning " type="date" placeholder="Assignment Title" #addtitle name="addtitle" formControlName="assign_date" required>
                        
                        <label class="mt-3"><b>Submission date</b></label>
                        <input class="form-control border-warning " type="date" placeholder="Assignment Title" #addtitle name="addtitle" formControlName="submission_date" required>
                        
                        
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <button type="submit" (click)="add_assignment()" class="form-control bg-warning text-light"><strong>Add</strong></button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" routerLink="/teacher/m_assignment" class="form-control bg-primary text-light"><strong><i class="fa fa-eye"></i>View Assignment</strong></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-6 right-banner-2 text-end position-relative mt-md-0 mt-5">
                        <div class=" mx-auto mt-5">
                            <img src="../../../assets/images/addassignment.png" class="img-fluid position-relative" alt="">
                        </div>
                        <div class="banner-style-1 position-absolute   ">
                            <div class="banner-style-2 position-relative">
                                <h4>Add Assignment</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- //banner section -->