<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4 text-center mb-4">Manage Department</h1>
        <div class="card mb-4">
            <div class="card-body">

                <table class="table border">
                    <tr class="border">
                        <th>#</th>
                        <th>Department ID</th>
                        <th>Department Name</th>
                        
                    </tr>
                    <tr class="border" *ngFor="let department of departmentdata;let i=index">
                        <td>{{ i+1 }}</td>
                        <td>{{ department['department_id'] }}</td>
                        <td>{{ department['department_name'] }}</td>
                        <td><span (click)="delete_department(department['_id'])" class=" text-danger fa fa-trash">Remove</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</main>
