<!-- /login-section -->

<section class="w3l-forms-23">
    <div class="forms23-block-hny">
        <div class="wrapper">
            <!-- <h1>Admin Login</h1> -->
            <!-- if logo is image enable this   
                <a class="logo" href="index.html">
                  <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                </a> 
            -->
            <div class="d-grid forms23-grids">
                <div class="form23">
                    <div class="main-bg">
                        <h6 class="sec-one">Teacher Login</h6>
                        <div class="speci-login first-look">
                            <img src="../../../assets/images/admin.jpg" alt="" class="img-responsive img-fluid ">
                        </div>
                    </div>
                    <div class="bottom-content">
                        <form action="#" [formGroup]="teacherLogin"  method="post">
                            <input type="email" name="email" class="input-form" placeholder="Your Email" required="required" formControlName="email" />
                            
                            <input type="password" name="password" class="input-form"
                                    placeholder="Your Password" required="required" formControlName="password" />

                            <button type="submit" (click)="login()" class="loginhny-btn btn">Login</button>
                           <span>Don't want to Login go to </span> <a routerLink="/layout/dashboard">Homepage</a>
                        </form>
                        
                    </div>
                </div>
            </div>
            <div class="w3l-copy-right text-center">
                <p>© 2022 CT Group of Institutions.| Design by
                    <a href="#" target="_blank">Ashish Kumar Singh</a></p>
            </div>
        </div>
    </div>
</section>
<!-- //login-section -->