<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4 text-center mb-4">Manage Test</h1>
        <div class="card mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover text table-striped">
                        <tr class="">
                            <th>#</th>
                            <th>Class</th>
                            <th>Test Title</th>
                            <th>Test Description</th>
                            <th>Date</th>
                            <th>Duration</th>
                            <th>Full marks</th>
                        </tr>
                        <tr class="" *ngFor="let test of testdata;let i=index">
                            <td>{{ i+1 }}</td>
                            <td>{{ test['semester_name'] }}</td>
                            <td>{{ test['title'] }}</td>
                            <td>{{ test['description'] }}</td>
                            <td>{{ test['date'] }}</td>
                            <td>{{ test['duration'] }}</td>
                            <td>{{ test['full_marks'] }}</td>
                            <td><a href="{{ test['link']}}" target="_blank">Start Test</a> </td>
                            
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>

</main>
