<!-- /login-section -->
<!-- Button trigger modal -->

  
 
<section class="w3l-forms-23">
    <div class="forms23-block-hny">
        <div class="wrapper">
            <!-- <h1>Admin Login</h1> -->
            <!-- if logo is image enable this   
                <a class="logo" href="index.html">
                  <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                </a> 
            -->
            <div class="d-grid forms23-grids">
                <div class="form23">
                    <div class="main-bg">
                        <h6 class="sec-one">Admin Login</h6>
                        <div class="speci-login first-look">
                            <img src="../../../assets/images/admin.jpg" alt="" class="img-responsive img-fluid ">
                        </div>
                    </div>
                    <div class="bottom-content">
                        <form [formGroup]="loginForm">
                            <input type="email" data-bs-toggle="tooltip" data-bs-placement="top" title="Hello" name="email" class="input-form" placeholder="Your Email" required="required" formControlName ="email" required />
                           
                            <!-- <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors">First Name is required</div>
                            </div> -->
                     
                           
                                            <input type="password" name="password" class="input-form"
                                    placeholder="Your Password" required="required" formControlName ="password" />

                                    <span class="alert alert-danger" *ngIf="!loginForm.controls['password'].valid && 
                                    loginForm.controls['password']?.touched"> Please enter a valid password</span>
                            <button type="submit" class="loginhny-btn btn" (click)="login()" >Login</button>
                           <span>Don't want to Login go to </span> <a routerLink="/layout/dashboard">Homepage</a>
                        </form>
                        
                    </div>
                </div>
            </div>
            <div class="w3l-copy-right text-center">
                <p>© 2022 CT Group of Institutions.| Design by
                    <a href="#" target="_blank">Ashish Kumar Singh</a></p>
            </div>
        </div>
    </div>
    
</section>
<!-- <script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})
</script> -->
<!-- //login-section -->