<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<!-- banner section -->
<section id="home" class="w3l-banner ">
    <div class="banner-content">
        <div class="container py-4">
            <form [formGroup]="updateStudent" autocomplete="off">
                <div class="row align-items-center pt-sm-5 pt-4">
                    <div class="col-md-5 ">
                        <label class=""><b>Department Name</b></label>
                        <ng-select class="form-control-default border border-warning rounded" placeholder=""  #dep_name name="dep_name" formControlName="department_id">
                            <ng-option *ngFor="let department of departmentdata" value="{{department._id}}">{{department.department_name}}</ng-option>
                         </ng-select>

                         <label class="mt-3"><b>Course Name</b></label>
                        <ng-select class="form-control-default border border-warning rounded" placeholder=""  #cou_name name="cou_name" formControlName="course_id">
                            <ng-option *ngFor="let course of coursedata" value="{{course._id}}">{{course.course_name}}</ng-option>
                         </ng-select>

                         <label class="mt-3"><b>Semester Name</b></label>
                        <ng-select class="form-control-default border border-warning rounded" placeholder=""  #class_name name="class_name" formControlName="semester_id">
                            <ng-option *ngFor="let semester of semesterdata" value="{{semester._id}}">{{semester.semester_name}}</ng-option>
                         </ng-select>

                        <label class="mt-3"><b>Roll number</b></label>
                        <input class="form-control border-warning" type="text" placeholder="Roll number" #rollno name="rollno" formControlName="rollno" required>

                        <label class="mt-3"><b>Student Name</b></label>
                        <input class="form-control border-warning" type="text" placeholder="Student Name"  #stuname name="stuname" formControlName="student_name" required>


                        <label class="mt-3"><b>Email</b></label>
                        <input class="form-control border-warning" type="text" placeholder="Email" #stuemail name="stuemail" formControlName="email" required>

                        <label class="mt-3"><b>Contact</b></label>
                        <input class="form-control border-warning" type="text" placeholder="Contact" #stucontact name="stucontact" formControlName="contact" required>
                        
                        <label class="mt-3"><b>Status</b></label>                        
                        <ng-select formControlName="is_blocked">
                            <ng-option value="Blocked">Block</ng-option>
                            <ng-option value="Unblocked">Unblock</ng-option>
                        </ng-select>
                        
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <button type="submit" (click)="update_student()"  class="form-control bg-warning text-light"><strong>Add</strong></button>
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-6 right-banner-2 text-end position-relative mt-md-0">
                        <div class=" mx-auto mt-5">
                            <img src="assets/images/addstudent.png" class="img-fluid position-relative" alt="">
                        </div>
                        <div class="banner-style-1 position-absolute  ">
                            <div class="banner-style-2 position-relative">
                                <h4>Add Student</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- //banner section -->