<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4 text-center mb-4">Manage Course</h1>
        <div class="card mb-4">
            <div class="card-body">
               
               
                <table class="table table-hover table-striped border">
                    <tr class="border">
                        <th>#</th>
                        <th>Department Name</th>
                        <th>Course Name</th>
                        <th>Semester ID</th>
                        <th>Semester Name</th>
                        <th>Action</th>
                        <th>Status</th>
                        
                    </tr>
                    <tr class="border" *ngFor="let semester of semesterdata;let i=index">
                        <td>{{ i+1 }}</td>
                        <td>{{ semester['department_id']['department_name'] }}</td>
                        <td>{{ semester['course_id']['course_name'] }}</td>
                        <td>{{ semester['semester_id'] }}</td>
                        <td>{{ semester['semester_name'] }}</td>
                        <td><span (click)="delete_semester(semester['_id'])" class=" fa fa-trash"></span></td>
                        <td>{{ semester['is_blocked'] }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</main>
