<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4 text-center mb-4">Manage Assignment</h1>
        <div class="card mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover text table-striped">
                        <tr class="">
                            <th>#</th>
                            <th>Assignment Title</th>
                            <th>Assignment Description</th>
                            <th>Assign_Date</th>
                            <th>Submission_Date</th>
                            <th>File</th>
                            <th>Action</th>
                        </tr>
                        <tr class="" *ngFor="let assignment of assignmentdata;let i=index">
                            <td>{{ i+1 }}</td>
                            <td>{{ assignment['semester_name'] }}</td>
                            <td>{{ assignment['title'] }}</td>
                            <td>{{ assignment['description'] }}</td>
                            <td>{{ assignment['assign_date'] }}</td>
                            <td>{{ assignment['submission_date'] }}</td>
                            <td><a  [href]="getfileurl(assignment['assignment'])" target="_blank" ><span class="fa fa-eye"></span></a></td>
                            <td><span (click)="delete_assignment(assignment['_id'])" class="  fa fa-trash "></span></td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>

</main>
