<!-- banner section -->
<section id="home" class="w3l-banner ">
    <div class="banner-content">
        <div class="container py-4">
            <form (ngform)="addSubject" autocomplete="off">
                <div class="row align-items-center pt-sm-5 pt-4">
                    <div class="col-md-5">
                        <label><b>Subject Id<sup>*</sup></b></label>
                        <input class="form-control border-warning" type="text" placeholder="Subject Id" #subid name="subid" [(ngModel)]="addSubject.subid" required>

                        <label class="mt-3"><b>Subject Name</b></label>
                        <input class="form-control border-warning" type="text" placeholder="Subject Name" #subname name="subname" [(ngModel)]="addSubject.subname" required>
                        
                       
                        <label class="mt-3"><b>Department Name</b></label>
                        <ng-select class="form-control-default border border-warning rounded" placeholder=""  #dep_name name="dep_name" [(ngModel)]="addSubject.dep_name">
                            <ng-option *ngFor="let department of departments" [value]="department.id">{{department.name}}</ng-option>
                         </ng-select>

                         <label class="mt-3"><b>Course Name</b></label>
                        <ng-select class="form-control-default border border-warning rounded" placeholder=""  #cou_name name="cou_name" [(ngModel)]="addSubject.cou_name">
                            <ng-option *ngFor="let course of courses" [value]="course.id">{{course.name}}</ng-option>
                         </ng-select>

                         <label class="mt-3"><b>Class Name</b></label>
                        <ng-select class="form-control-default border border-warning rounded" placeholder=""  #class_name name="class_name" [(ngModel)]="addSubject.class_name">
                            <ng-option *ngFor="let class of classes" [value]="class.id">{{class.name}}</ng-option>
                         </ng-select>

                         <label class="mt-3"><b>Teacher Name</b></label>
                        <ng-select class="form-control-default border border-warning rounded" placeholder=""  #taech_name name="teach_name" [(ngModel)]="addSubject.teach_name">
                            <ng-option *ngFor="let teacher of teachers" [value]="teacher.id">{{teacher.name}}</ng-option>
                         </ng-select>

                        <div class="row mt-3">
                            <div class="col-md-6">
                                <button class="form-control bg-warning text-light"><strong>Add</strong></button>
                            </div>
                            <div class="col-md-6">
                                <button class="form-control bg-primary text-light"><strong><i class="fa fa-edit"></i>Edit</strong></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-6 right-banner-2 text-end position-relative mt-md-0 mt-5">
                        <div class=" mx-auto my-5">
                            <img src="assets/images/addsubject.png" class="img-fluid position-relative" alt="">
                        </div>
                        <div class="banner-style-1 position-absolute  ">
                            <div class="banner-style-2 position-relative">
                                <h4>Add Subject</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- //banner section -->