<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4 text-center mb-4">Manage Subject</h1>
        <div class="card mb-4">
            <div class="card-body">
               
             
                <table class="table table-hover table-striped border">
                    <tr class="border">
                        <th>#</th>
                        <th>Department Name</th>
                        <th>Course Name</th>
                        <th>Semester Name</th>
                        <th>Teacher Name</th>
                        <th>Subject Id</th>
                        <th>Subject Name</th>
                        <th>Action</th>
                        <th>Status</th>
                        
                    </tr>
                    <tr class="" *ngFor="let subject of subjectdata;let i=index">
                        <td>{{ i+1 }}</td>
                        <td>{{ subject['department_id']['department_name'] }}</td>
                        <td>{{ subject['course_id']['course_name'] }}</td>
                        <td>{{ subject['semester_id']['semester_name'] }}</td>
                        <td>{{ subject['teacher_id']['teacher_name'] }}</td>
                        <td>{{ subject['subject_id'] }}</td>
                        <td>{{ subject['subject_name'] }}</td>
                        <td><span (click)="delete_subject(subject['_id'])" class=" fa fa-trash"></span></td>
                        <td>{{ subject['is_blocked'] }}</td>
                    </tr>
                </table>
             
            </div>
        </div>
    </div>

</main>
