<!-- banner section -->
<section id="home" class="w3l-banner ">
    <div class="banner-content">
        <div class="container py-4">
            <form (ngform)="addVideo" autocomplete="off">
                <div class="row align-items-center pt-sm-5 pt-4">
                    <div class="col-md-5">

                        <label class="mt-3"><b>Class Name</b></label>
                        <ng-select class="form-control-default border border-warning rounded" placeholder=""  #cou_name name="cou_name" [(ngModel)]="addVideo.classname">
                            <ng-option *ngFor="let course of courses" [value]="course.id">{{course.name}}</ng-option>
                         </ng-select>

                        <input class="form-control border-warning mt-3" type="text" placeholder="Video Title" #addtitle name="addtitle" [(ngModel)]="addVideo.addtitle" required>
                        <textarea class="mt-3 form-control bigbox"  placeholder="Video description" #adddescription name="adddescription" [(ngModel)]="addVideo.adddescription" required></textarea>
                        <input class="form-control mt-2 border-warning" type="file"  #addfile name="addfile" [(ngModel)]="addVideo.addfile" required>
                        
                        
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <button type="button" class="form-control bg-warning text-light"><strong>Add</strong></button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="form-control bg-primary text-light"><strong><i class="fa fa-edit"></i>Edit</strong></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-6 right-banner-2 text-end position-relative mt-md-0 mt-5">
                        <div class=" mx-auto mt-5">
                            <img src="../../../assets/images/video.png" class="img-fluid position-relative" alt="">
                        </div>
                        <div class="banner-style-1 position-absolute   ">
                            <div class="banner-style-2 position-relative">
                                <h4>Add Video</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- //banner section -->